<section class="m-lg-5">
    <div class="container mt-5 mb-5 bg-primary-theme p-5">
        <h1 class="text-white text-center">About Us</h1>
          <div class="p-5 mt-4 mb-2 bg-secondary-theme">
                 <div class="text-theme">
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestias quos soluta adipisci voluptatibus, quibusdam quam qui quis nemo modi corrupti excepturi officiis quod hic, odio possimus omnis et odit.
                        Veritatis deserunt reiciendis ducimus voluptatum aliquam, hic harum distinctio. Sequi laboriosam, neque repudiandae molestiae consequuntur aliquid ratione harum velit illo quae earum ut quasi facilis distinctio odio reiciendis excepturi deleniti.
                        Voluptates maxime exercitationem aperiam consectetur pariatur excepturi, facere laudantium ab itaque, illo nesciunt quod? Maiores quod fugiat nulla blanditiis, sit, commodi autem pariatur eius nam dolorum fuga iste. Modi, sed.
                        Quibusdam reiciendis ea blanditiis perspiciatis eius ullam, sit non et vitae eum quos, adipisci officiis est unde nisi, tenetur doloremque placeat amet consectetur nostrum assumenda delectus dolorum voluptatum sint? Magnam.
                        Libero ea officiis inventore ut dolorem suscipit nemo facilis tenetur asperiores dolore sed amet a, dignissimos blanditiis, totam earum reiciendis consequatur. Ad nesciunt eos pariatur ipsum rerum perferendis explicabo distinctio.</p>
         
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestias quos soluta adipisci voluptatibus, quibusdam quam qui quis nemo modi corrupti excepturi officiis quod hic, odio possimus omnis et odit.
                         Veritatis deserunt reiciendis ducimus voluptatum aliquam, hic harum distinctio. Sequi laboriosam, neque repudiandae molestiae consequuntur aliquid ratione harum velit illo quae earum ut quasi facilis distinctio odio reiciendis excepturi deleniti.
                         Voluptates maxime exercitationem aperiam consectetur pariatur excepturi, facere laudantium ab itaque, illo nesciunt quod? Maiores quod fugiat nulla blanditiis, sit, commodi autem pariatur eius nam dolorum fuga iste. Modi, sed.
                         Quibusdam reiciendis ea blanditiis perspiciatis eius ullam, sit non et vitae eum quos, adipisci officiis est unde nisi, tenetur doloremque placeat amet consectetur nostrum assumenda delectus dolorum voluptatum sint? Magnam.
                         Libero ea officiis inventore ut dolorem suscipit nemo facil</p>
         
                 </div>
               <div class="text-center mt-5 " >
                 <button  type="button" class="bg-theme p-3" routerLink="">Back to Home</button>
               </div>
          </div>
    </div>
</section>
